@import "../../../App.scss";

.side-menu {
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  // Header
  .header {
    padding: 15px;
    padding-left: 20px;
    border-bottom: 1px solid #dfdfdf7a;

    .img-box {
      width: 38px;
      height: 38px;
      overflow: hidden;

      img {
        min-width: 100%;
        min-height: 100%;
      }
    }

    .content {
      padding-top: 5px;
      padding-left: 10px;

      p {
        color: #000;
        font-size: 14px;
        margin-bottom: 0;
        font-weight: 700;
        line-height: 10px;
        text-transform: capitalize;
        font-family: "Roboto", sans-serif;
      }

      small {
        color: #555;
        font-size: 11px;
        font-family: "Roboto", sans-serif;
      }
    }

    .btn {
      margin-top: 5px;
      padding: 4px 6px;
    }
  }

  // Body
  .body {
    padding: 15px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    .btn {
      margin-top: 0;
      text-align: left;
      border-radius: 5px;
      padding-top: 8px;
      padding-left: 15px;
      padding-bottom: 8px;
      transition: 0.4s all;

      span {
        font-size: 14px;
        font-weight: 500;
        // margin-left: 8px;
        text-align: center;
        text-transform: capitalize;
        font-family: "Roboto", sans-serif;
      }
    }

    .is-Active {
      color: #fff;
      background: $secondary-color;
    }
  }

  @media (min-width: 992px) {
    border-radius: 8px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  }
}
