@import "../../../App.scss";

.right-menu-container {
  padding: 5px;

  .file-container {
    float: left;
    padding: 3px;

    .file-body {
      width: 100%;
      height: 100%;
    }

    @media (min-width: 992px) {
      width: 33.33%;
      height: 90px;
    }
  }
}
