@import "../../App.scss";

.login {
  width: 100%;
  height: 100vh;

  .card {
    width: 92vw;
    overflow: hidden;

    .card-header {
      padding-top: 35px;
      padding-bottom: 0;

      h5 {
        font-weight: 500;
        text-transform: capitalize;
        font-family: "Roboto", sans-serif;
      }
    }

    .card-body {
      .account-type-container {
        .account {
          cursor: pointer;
          text-align: center;
          border-radius: 4px;
          border: 2px solid #dfdfdf;
          position: relative;

          img {
            max-width: 90px;
          }

          p {
            font-size: 15px;
            margin-bottom: 5px;
            font-weight: 500;
            font-family: "Roboto", sans-serif;
          }

          .done-icon {
            position: absolute;
            bottom: -10px;
            right: -10px;
            padding: 5px;
            color: #fff;
            border-radius: 25px;
            background: $secondary-color;
          }
        }

        .active {
          border: 2px solid $secondary-color;
        }
      }

      .account-type-message {
        padding-top: 25px;
        padding-bottom: 25px;

        h6 {
          font-size: 15px;
          font-weight: 500;
          font-family: "Roboto", sans-serif;
        }
      }

      form {
        padding: 20px 8px;

        .form-control {
          height: 40px;
          font-size: 14px;
          font-weight: 500;
          font-family: "Roboto", sans-serif;
        }

        .form-control:focus {
          border: 1px solid $secondary-color;
        }

        .danger-border {
          border: 1px solid red;
        }

        p {
          font-size: 15px;
          font-weight: 500;

          a {
            color: red;
          }
        }

        .btn {
          color: #fff;
          margin-left: 20%;
          font-weight: 600;
          font-size: 16px;
          padding: 8px 30px;
          background: $secondary-color;
        }
      }
    }

    @media (min-width: 576px) {
      width: 400px;
    }
  }
}
