@import "../../App.scss";


.garamond{
    margin: 50px;
    text-align: center;
    color: coral;
    margin-bottom: 50px;

    .pa2 .custom-select__control {
        margin-top: 50px;
        width: 50%;
        margin: auto;
        border-radius: 25px;
        box-shadow: none;
        height: 45px;
        font-size: 14px;
        padding-left: 15px;
        border-right: 1px solid #dfdfdf;
    }

    .pa2 .btn {
        margin-top: 20px;
        border: 1px solid black;
        height: 45px;
        width: 70px;
        border: 0;
        background: whitesmoke;
        border-radius: 10px;
    }
}