@import "../../../../App.scss";

.index {
  h5 {
    margin-top: 5px;
    margin-bottom: 0;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
  }

  .form-control {
    font-size: 14px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;

    option {
      font-size: 14px;
      font-weight: 600;
      font-family: "Roboto", sans-serif;
    }
  }

  .form-control:focus {
    border: 1px solid #dfdfdf;
  }

  .appointment {
    padding: 10px;
    background: #dfdfdf2d;
    border-bottom: 1px solid #dfdfdf;

    p {
      color: #000;
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 0;
      line-height: 12px;
      text-transform: capitalize;
      font-family: "Roboto", sans-serif;
    }

    small {
      color: #555;
      font-size: 12px;
      text-transform: capitalize;
      font-family: "Roboto", sans-serif;
    }

    .btn {
      color: #fff;
      font-size: 13px;
      font-weight: 500;
      background: $primary-color;
      text-transform: capitalize;
      font-family: "Roboto", sans-serif;
      margin-right: 10px;
    }
  }

}
