@import "../../App.scss";

.contact {
  // Banner
  .banner {
    img {
      width: 300px;

      @media (min-width: 576px) {
        width: 480px;
      }
    }

    .content {
      h1 {
        color: #000;
        font-weight: 900;
        margin-bottom: 0;
        font-family: "Roboto", sans-serif;

        @media (min-width: 576px) {
          font-size: 60px;
        }
      }

      p {
        font-size: 15px;
        margin-bottom: 0;
        line-height: 1.8rem;
        font-family: "Roboto", sans-serif;
      }

      @media (min-width: 992px) {
        padding-top: 40px;
      }
    }

    padding-top: 40px;
    padding-bottom: 40px;
  }

  // Main Content
  .main-content {
    background: #dfdfdf75;
    padding-top: 40px;
    padding-bottom: 40px;

    .contact-utilities {
      .icon {
        color: #ea90fe;
        padding: 10px 14px;
        border-radius: 25px;
        background: #ee730f1a;
      }

      p {
        color: #000;
        font-weight: 900;
        font-size: 15px;
        margin-bottom: 0;
        text-transform: capitalize;
        font-family: "Roboto", sans-serif;
      }

      small {
        color: #555;
      }
    }

    // Contact Form
    .contact-form {
      .card {
        overflow: hidden;

        .card-header {
          h4 {
            color: #000;
            font-weight: 900;
            margin-bottom: 5px;
            font-family: "Roboto", sans-serif;
          }

          p {
            font-size: 15px;
            line-height: 1.8rem;
            font-family: "Roboto", sans-serif;
          }
        }

        .card-body {
          form {
            .form-control {
              font-size: 14px;
              min-height: 45px;
              padding-left: 15px;
              border: 1px solid #dfdfdf;
              font-family: "Roboto", sans-serif;
            }

            .danger-border {
              border: 1px solid brown;
            }

            .btn {
              height: 45px;
              font-size: 15px;
              font-weight: 700;
              padding-left: 20px;
              padding-right: 20px;
              font-family: "Roboto", sans-serif;
              background: $primary-color;
            }
          }
        }
      }
    }

    @media (min-width: 992px) {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }

  // Map Content
  .map-content {
    padding-top: 60px;
    padding-bottom: 60px;

    h1 {
      font-weight: 900;
      font-family: "Roboto", sans-serif;

      @media (max-width: 576px) {
        font-size: 30px;
      }
    }

    p {
      color: #555;
      width: 90%;
      margin: auto;
      font-size: 15px;
      background-image: 1.5rem;
      font-family: "Roboto", sans-serif;

      @media (min-width: 576px) {
        width: 70%;
      }
    }

    .map-column {
      overflow: hidden;
    }

    @media (min-width: 992px) {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }
}