@import "../../App.scss";

.about {
  // Header
  .header {
    .content {
      h1 {
        color: #000;
        font-weight: 900;
        margin-bottom: 0;
        font-family: "Roboto", sans-serif;

        span {
          color: $primary-color;
        }

        @media (min-width: 992px) {
          font-size: 70px;
        }
      }

      @media (min-width: 992px) {
        padding-top: 120px;
      }
    }

    .image-column {
      img {
        width: 300px;

        @media (min-width: 576px) {
          width: 450px;
        }
      }
    }
  }

  // Content
  .content {
    // padding-top: 40px;
    padding-bottom: 40px;

    h3 {
      font-weight: 900;
      margin-bottom: 5px;
      font-family: "Roboto", sans-serif;
    }

    p {
      font-size: 15px;
      line-height: 1.8rem;
      font-family: "Roboto", sans-serif;
      //box-shadow: 1px 1px 1px 2px grey;
    }

    p .link{
      text-decoration: none;
    }
  }
}